#body-Singup{
  height: 500px;
  width:60%;
  min-width: 590px;
  margin-top: 30px;
	margin-left: 20%;
	margin-right: 20%;
	background-color: rgba(200,200,200,0.8);
	box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.7), 0 0px 20px 0 rgba(0, 0, 0, 0.9);
	border-radius:30px;
}
#row-1,#row-2{
  margin-top: 15px;
  height:75px;
  width:100%;
}

.inputText2{
  width:80%;
  max-width:250px;
}
.inputText{
  width:80%;
  max-width:550px;
}
.inputTextArea{
  font-size: 14px;
  border: 3px grey;
  margin-top: 15px;
  border-radius: 10px;
  text-align: center;
  width:80%;
  max-width:550px;
  height: 90px;
}
.label{
    margin-top:25px;
    color:black;
    max-width:100px;
}
.labe{
    color:black;
}