#screen{
  min-width:600px;
  background-image: url(http://3.bp.blogspot.com/-WeoccxnkhUk/Ue_MfvnV_KI/AAAAAAAAThQ/fNKXAX4siRU/s1600/farm_1_1920_x_1200___1_.jpg);
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	min-height: 100%;
	overflow:hidden;
  
}

#header {
  background-color: green;
  padding:10px;
  height: auto;
  min-width: 100%;
  border-bottom: 3px solid  #4CAF50;;
}

#logo-col{
  max-width:80px;
}
#searchcol{
  min-width:340px;
}
#searchtext{
  margin-top:25px;
  width: 250px;
}
#searchbutton{
  border: 2px solid #4CAF50;
  height: 40px;
  width: 40px;
  background-color: green;
  background-image: url(https://image.flaticon.com/icons/png/512/9/9714.png);
  background-size: 27px 27px;
  background-repeat: no-repeat;
  background-position: center;
  position:absolute;
  top: 17px;
  left:280px;
  cursor: pointer;
  border-radius: 50%;
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
}
#carouselcol{
  padding:100px;
  width:90%;
	margin-left: 5%;
	margin-right: 5%;
}
#carousel{
  border:8px solid rgba(18,120,40,0.7);
  height: 100%;
  box-shadow: 0 0px 50px 0 rgba(0, 0, 0, 0.7), 0 0px 100px 0 rgba(0, 0, 0, 0.9);
}
#body{
  height:1000px;
  width:80%;
	margin-left: 10%;
	margin-right: 10%;
	min-height: 1000px;
	background-color: rgba(200,200,200,0.8);
	box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.7), 0 0px 20px 0 rgba(0, 0, 0, 0.9);
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
}

#bodycontainer{
  position:relative;
  height:1000px;
  width: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 80px;
  left:0;
  
}

.button {
  background-color: green; /* Green */
  border: 2px solid #4CAF50;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  display: inline-block;
  font-size: 14px;
  margin: 17px 2px;
  cursor: pointer;
  border-radius: 10px;
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
    
}


.button1:hover {
   
    background-color: #4CAF50; 
    color: black; 
    border: 2px solid #4CAF50;
}
.item{
 height: 350px;
}
.carousel-inner{
  height:100%;
}
.carouselimg{
  min-width:100%;
  max-width:100%; 
  min-height:100%;
  max-height:100%;
  margin:auto;
  display:block;
}
.App-title {
  font-size: 1.5em;
  color: blue;
}

.App-intro {
  font-size: large;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}