#screen{
  background-image: url(../assets/background.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: scroll;
	position:absolute;
	height: 100%;
  top:0;
  right:0;
  bottom:0;
  left:0;
  
}
#display{
  height:100%;
}





::-webkit-scrollbar {
  height: 0px;
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
