#screen{
  background-image: url(http://3.bp.blogspot.com/-WeoccxnkhUk/Ue_MfvnV_KI/AAAAAAAAThQ/fNKXAX4siRU/s1600/farm_1_1920_x_1200___1_.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: scroll;
	position:absolute;
	height: 100%;
  top:0;
  right:0;
  bottom:0;
  left:0;
  
}
#display{
  height:100%;
}
#header {
  padding:10px;
  height: auto;
  min-width: 100%;
}

#logo-col{
  max-width:80px;
  margin-left:10px;
}
#searchcol{
  min-width:340px;
  
}
#searchtext{
  margin-top:25px;
  width: 250px;
  background-color: rgba(255,255,255,0.8);
  color:black;
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size:12px;
}

#searchbutton{
  border: 2px solid #4CAF50;
  height: 40px;
  width: 40px;
  background-color: green;
  background-image: url(https://image.flaticon.com/icons/png/512/9/9714.png);
  background-size: 27px 27px;
  background-repeat: no-repeat;
  background-position: center;
  position:absolute;
  top: 17px;
  left:280px;
  cursor: pointer;
  border-radius: 50%;
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
}
#searchbutton:hover{
      background-color: #4CAF50; 
    color: black; 
    border: 2px solid #4CAF50;
}
#searchbutton:active{

    border: 2px solid green;
}
#carouselcol{
  padding:5%;
  width:80%;
	margin-left: 10%;
	margin-right: 10%;
}
#carousel{
  border:8px solid rgba(18,120,40,0.7);
  height: 100%;
  box-shadow: 0 0px 50px 0 rgba(0, 0, 0, 0.7), 0 0px 100px 0 rgba(0, 0, 0, 0.9);
}
#body{
  height:600px;
  width:80%;
	margin-left: 10%;
	margin-right: 10%;
	background-color: rgba(200,200,200,0.8);
	box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.7), 0 0px 20px 0 rgba(0, 0, 0, 0.9);
	border-radius:40px;
}

#bodycontainer{
  position:relative;
  height:100%;
  width: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 80px;
  left:0;
  
}

.button {
  background-color: green; /* Green */
  border: 2px solid #4CAF50;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  display: inline-block;
  font-size: 14px;
  margin: 17px 2px;
  cursor: pointer;
  border-radius: 10px;
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
    
}

#screen::-webkit-scrollbar { width: 0 !important }
.button1:hover {
   
    background-color: #4CAF50; 
    color: black; 
    border: 2px solid #4CAF50;
}
.button1:active {
  border:red;
}
.item{
 height: 350px;
}
.carousel-inner{
  height:100%;
}
.carouselimg{
  min-width:100%;
  max-width:100%; 
  min-height:100%;
  max-height:100%;
  margin:auto;
  display:block;
}
.footer{
  margin-top:15px;
  padding-top: 15px;
  background-color: rgba(0,0,0,0.7);
  color:white;
  font-size: 10px;
  font-family: sans-serif;
}

::-webkit-scrollbar {
  height: 0px;
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
