#screenLogin{
  background-image: url(http://3.bp.blogspot.com/-WeoccxnkhUk/Ue_MfvnV_KI/AAAAAAAAThQ/fNKXAX4siRU/s1600/farm_1_1920_x_1200___1_.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	min-height: 100%;
	min-height: 1000px;
	overflow:hidden;
	position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  
}
.html{
  height:100%;
}
#nose{
    text-align:center;
}

#bodyLogin{
  position:relative;
  height:1080px;
  width: 100%;
}
.label{
    margin-top:25px;
    color:black;
    max-width:100px;
}
.labe{
    color:black;
}
.App {
  text-align: center;
}

.App-logo {
  height: 80px;
  left:0;
  
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
