#logincol{
  height:320px;
  width:300px;
  margin-top: 150px;
	margin-left: auto;
	margin-right: auto;
	min-height: 320px;
	background-color: rgba(200,200,200,0.8);
	box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.7), 0 0px 20px 0 rgba(0, 0, 0, 0.9);
	border-radius:30px;
}

.inputText{
    font-size:14px;
    max-width: 90%;
    height:30px;
    border:3px grey;
    margin-top: 15px;
    border-radius: 10px;
    text-align: center;
}
.button {
  width:150px;
  width:auto;
  background-color: green; /* Green */
  border: 2px solid #4CAF50;
  color: white;
  padding: 8px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  text-decoration: none;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  display: inline-block;
  font-size: 16px;
  margin: 17px 2px;
  cursor: pointer;
  border-radius: 10px;
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
    
}


.button1:hover {
   
    background-color: #4CAF50; 
    color: black; 
    border: 2px solid #4CAF50;
}
.button1:active {
  border:red;
}
