#mapCol{
      min-width: 100%;
      height: 100%;
      padding: 0px;
    }
#MapContainer{
      height: 450px;
      width: 100%;
      border-radius: 10px;
      padding: 0px;
      overflow: hidden;
    }