#DetailsCol{
    width:80%;
	min-width: 800px;

    margin-left:auto;
    margin-right:auto;    
    margin-top:20px;

}

#body-Singup{
    height: 500px;
    width:60%;
    min-width: 590px;
    margin-top: 30px;
	margin-left: 20%;
	margin-right: 20%;
	background-color: rgba(200,200,200,0.8);
	box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.7), 0 0px 20px 0 rgba(0, 0, 0, 0.9);
	border-radius:30px;
}
#row-1,#row-2{
    margin-top: 15px;
    height:75px;
    width:100%;
}

#Forma{
    width: 50%;
}

.inputText{
  width:80%;
  max-width:250px;
}
.label{
    margin-top:25px;
    color:black;
    max-width:100px;
}
.labe{
    color:black;
}
