#ProductsList{
  height:1100px;
  width:85%;
	min-width: 1220px;
	background-color: rgba(217, 225, 226,0.6);
	box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.7), 0 0px 20px 0 rgba(0, 0, 0, 0.9);
	border-radius:40px;
	   margin-left:auto;
   margin-right:auto;
   display:block;
   overflow: scroll;
   padding: 0px;
}
#pagination{
  max-width: 590px;
  margin-bottom:0;
}
#center{
  width: 100%;
  margin: 0 auto;
}
#center-pagination{
  position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
#Articles{
  width:100%;
}
#realArticles{
  width: 100%;
  margin: auto;
}