#ProductsList{
  height:700px;
  width:85%;
	min-width: 800px;
	background-color: rgba(200,200,200,0.8);
	box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.7), 0 0px 20px 0 rgba(0, 0, 0, 0.9);
	border-radius:40px;
	   margin-left:auto;
   margin-right:auto;
   display:block;
}
