@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
#sBodyCol{

    margin-top:20px;
    margin-bottom: 100px;
   margin-right:auto;
   padding-top:40px;
   margin-right: 5%;
}
#FiltersCol{
    height: 1000px;
    max-width: 25%;
}
#PriceFilter{
    padding: 0px;
    margin-top: 50px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#filtersearchcol{
    margin-top: 80px;
    height: 60px;
}

.filterText{
        font-size:14px;
    max-width: 90%;
    height:25px;
    border:3px grey;
margin-top: 7px;
    border-radius: 10px;
    text-align: center;

  width: 200px;
  background-color: rgba(255,255,255,0.8);
  color:black;
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size:12px;
  text-align: left;
}

.pricefilter{
        font-size:14px;
    max-width: 90%;
    height:25px;
    border:3px grey;
margin-top: 7px;
    border-radius: 10px;
    text-align: center;

  width: 100px;
  background-color: rgba(255,255,255,0.8);
  color:black;
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size:12px;
}

#filterbutton{
  border: 2px solid #4CAF50;
  height: 40px;
  width: 40px;
  background-color: green;
  background-image: url(../assets/searchicon.png);
  background-size: 27px 27px;
  background-repeat: no-repeat;
  background-position: center;
  position:absolute;
  cursor: pointer;
  border-radius: 50%;
  margin-left: 20px;
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
}
#filterbutton:hover{
      background-color: #4CAF50; 
    color: black; 
    border: 2px solid #4CAF50;
}
#filterbutton:active{

    border: 2px solid green;
}

.flecha-logo {
  height: 15px;
  margin-left: 10px;
  margin-right: 10px;
  
}


#fieldset{ margin-left: 5px; }

.col-centered{
    max-width: 120px;
    width:120px;
}
/****** Style Star ratingS Widget *****/

.ratingS { 
  border: none;
  float: left;
}

.ratingS > input { display: none; } 
.ratingS > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.ratingS > .half:before { 
  content: "\f089";
  position: absolute;
}

.ratingS > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.ratingS > input:checked ~ label, /* show gold star when clicked */
.ratingS:not(:checked) > label:hover, /* hover current star */
.ratingS:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.ratingS > input:checked + label:hover, /* hover current star when changing ratingS */
.ratingS > input:checked ~ label:hover,
.ratingS > label:hover ~ input:checked ~ label, /* lighten current selection */
.ratingS > input:checked ~ label:hover ~ label { color: #FFED85;  } 