#OptionsCol{
    width:80%;
	min-width: 800px;

    margin-left:auto;
    margin-right:auto;    
    margin-top:20px;

}
#Option{
    width:250px;
    min-width: 150px;
    height: auto;
    margin:auto;
    margin-top: 25px;
    margin-bottom: 15px;
    border-radius: 10px;
    display:block;
    position: auto;
    padding:10px;
    background-color: rgba(217, 225, 226,0.9);
    box-shadow: 0 0px 5px 0 rgba(0, 70, 0, 0.7), 0 0px 20px 0 rgba(0, 70, 0, 0.9);
}
#Optionimg{
    width:100%;
    min-width:150px;
  max-width:100%; 
  min-height:150px;
  max-height:150px;
  border-radius: 10px;
}
#label{
    margin-top: 10px;
    margin-bottom: 10px;
}
a{
    font-family: Gill Sans, sans-serif;
    color:black;
}
a:hover{
    color:black;
    text-decoration: none;
    opacity: 0.8;
}